*{
  margin:0;
  padding:0;
  
}

body{
  font-family: 'Poppins', sans-serif;
}
 

.header{
  min-height: 100vh;
  width: 100%;
  background-image: url("images/banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-bar{
  flex: 1;
  text-align: center;
}
.nav-bar ul li{
  font-size: medium;
  list-style: none;
  display: inline-block;
  padding: 10px 32px;
  position: relative;
}

.nav-bar ul li a{
  color: #120f0f;
  text-decoration: none;
  font-size: 16px;
}

.nav-bar ul li::after{
  content: '';
  width: 0%;
  height: 1.2px;
  background: #675D50;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-bar ul li:hover::after{
  width: 100%;
}

.text-bar {
  width: 78%;
  margin: 130px auto;
  color: #120f0f;
  text-align: left;
  
}

.text-bar h4{
  font-size: 40px;
  
}

.text-bar h1{
  font-size: 90px;
}

.text-bar p{
  font-size: 18px;
}


.myimage {
  max-width: 350px;
  position: absolute;
  left: 55%;
  bottom: 20%;
  margin-left: 10px;
}

.page2{
  min-height: 100vh;
  margin: auto;
  width: 100%;
  background: #BACDDB;
}

.container{
  position: absolute;
  display: inline-block;
  width: 500px;
  margin: 140px 0 0 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2 20px 25px rgba(58, 55, 55, 0.2);
  padding: 60px;
}

@keyframes load{
  from{
   width: 0%;
  }

}

@-webkit-keyframes load{
 from{
   width: 0%;
  }
}

@-moz-keyframes load{
 from{
   width: 0%;
  }
}

@-o-keyframes load{
 from{
   width: 0%;
  }
}


.h11{
  position: absolute;
  margin-top: 32px;
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  width: 98%;
  text-align: center;
  color: #120f0f;
  padding: 10px;
}

.box{
  list-style: none;
  margin: 0;
  padding: 0;

}

.box li h5{
   margin-bottom: 15px;
}

.bar{
  height: 18px;
  background-color: #eee;
  margin-bottom: 15px;
  border-radius: 15px;
}
.bar::before{
  content: '';
  background-color: #579BB1;
  display: inline-block;
  border-radius: inherit;
  padding: 8px;
  animation: load 3s 0s;
  -moz-animation: load 3s 0s;
  -webkit-animation: load 3s 0s;
  -o-animation: load 3s 0s;
}

.bar.bar1::before{
   width: calc(95% - 10px);
}
.bar.bar2::before{
  width: calc(70% - 10px);
}
.bar.bar3::before{
  width: calc(80% - 10px);
}
.bar.bar4::before{
  width: calc(50% - 10px);
}

.page3{
  min-height: 100vh;
 
  width: 100%;
 
  background-color: #BACDDB;
  background-position: center;
  background-size: cover;
  position: relative;
}

.first{
  position: absolute;
  display: inline-block;
  width: 700px;
  margin: 70px 0 0 90px;
  background-color: #85CDFD;
  padding: 10px;
 
}

.project{
 margin: 10px;
}

.h111{
  text-align: left;
  padding: 50px 0 0 90px;
  font-size: 38px;
  font-weight: 700;
}


h3{
  text-align: left;
  font-weight: 600;
  margin: 10px auto;
}

.hrone{
  border-color: #4E6C50;
  border-width: 4px;
  border-style: none none dotted none ;
  align-items: center;
}

.hr2{
  border-color: #4E6C50;
  border-width: 4px;
  border-style: none none dotted none ;
  align-items: center;
}

.empty-style{
  display: inline;
  position: absolute;
  background-color: #F9F54B;
  width: 120px;
  height: 470px;
  right: -16.6%;
  bottom: -13%;

}

.page4{
  min-height: 100vh;
 
  width: 100%;
 
  background-image: url("images/banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}


.about{
  position: absolute;
  display: inline-block;
  width: 550px;
  height: 500px;
  margin: 10px 0 0 80px;

}

.headingss{
  color: #00235B;
   font-size: 65px;
   font-weight: 700;
   text-align: left;
   padding: 75px 0 0 55px; 
}

.para{
  
  font-size: 33px;
  font-weight: 400;
  text-align: left;
  margin: 8px 0 0 30px;
  padding: 20px; 
  color: #fff;
 
  

}

.vertical-line{
  width: 2px;
  height: 375px;
  background-color: #03001C;
  position: absolute;
  left: 53%;
  top: 14%;

}

.headingss2{
   color: #00235B;
   font-size: 70px;
   font-weight: 700;
   position: absolute;
   right: 7%;
   top: 13%;
   padding: 5px 55px 0 0px; 
}

.paragr{
  font-size: 30px;
  font-weight: 400;
  list-style: none;
  display: inline-block;
  position:absolute;
  right: 6.1%;
  color:#fff;
  top: 32%;
  padding: 0px 0 0 180px; 
  
}

.paragr ul li{
  list-style: none;
  padding: 4px -2px;
  
}



